.social-menu {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: end;
}

.justify-centre {
    display: flex;
    justify-content: center !important;
}

.social-menu ul {
    /* position: absolute; */
    /* transform: translate(-50%, -50%); */
    margin-right: 50px;
    display: flex;
}

.social-menu ul li {
    list-style: none;
    margin: 0 15px;
    padding: 10px;
}

.social-menu ul li .fa-icon {
    font-size: 20px;
    line-height: 35px;
    transition: .3s;
    color: #ffffff;
}

.social-menu ul li .fa-icon:hover {
    color: #fff;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid gray;
    background-color: #ffffff00;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, .5);
}

.social-menu ul li a:hover {
    transform: translate(0, -10%);
}

.black-hover:hover {
    background-color: rgba(0, 0, 0, 0.829);
    /* border: 1px solid rgba(255, 255, 255, 0); */
}

.red-hover:hover {
    background-color: #E4405F;
    border: 1px solid rgba(255, 255, 255, 0);
}

.blue-hover:hover {
    background-color: #0077b5;
    border: 1px solid rgba(255, 255, 255, 0);
}

.green-hover:hover {
    background-color: #008020;
}

.grey-hover:hover {
    background-color: #b7a800;
}